@use "../../assets/dimens" as dimens;
@use "../../assets/colors" as colors;

.header {
  position: sticky;
  top: 0;
  height: dimens.$headerHeight;
  padding: 0 20px;
  align-items: center;
  background-color: colors.$primary;
  z-index: 1;

  img {
    height: 100%;
    box-sizing: border-box;
    padding: 10px 0;
    margin-right: 20px;
  }
  h1 {
    color: white;
    font-size: 1.8rem;
  }
  ul {
    margin-left: 50px;
    margin-right: auto;
    list-style: none;
    display: flex;
    height: 100%;
  }
}

.navItem {
  height: 100%;

  & > * {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    height: 100%;
    padding: 0 30px;
    cursor: pointer;
    
    &:hover {
      background-color: #FFFFFF17;
    }
  }
}

.search {
  position: relative;
  margin-left: 30px;

  input {
    width: 250px;
    padding: 8px 0;
    padding-left: 38px;
    padding-right: 10px;
    font-size: 1rem;
    border: 1px solid gray;
    outline: 1px solid gray;
    border-radius: 1000px;
  }
  svg {
    position: absolute;
    left: 30px;
    height: 100%;
    padding-left: 13px;
    font-size: 1rem;
  }
}